head
  script(src='/js/jquery-1.7.2.js')
  script(src='/js/jade-runtime.js')
  script(src='/js/underscore.js')
  script(src='/js/backbone.js')
  script(src='/js/templates.js')
  script(src='/js/main.js')
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  h1= title
  #header
  #sidebar this is sidebar
  #content Camp details will appear here
  script
    myMain();