.form-left-col
label Id:
input(type='text', id='campId', name='id', value='#{id}', disabled)
label Name:
input(type='text', id='name', name='name', value='#{name}', required)
button.save Save
button.delete Delete
